body {
    margin: 0;
    padding: 0;
    background: #f1f3f6;
    font-family: Arial, sans-serif;
}

.cart-header {
    background: #ce94eb;
    padding: 2px;
    text-align: center;
    color: white;
    font-size: 22px;
}

.cart-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.cart-left {
    width: 60%;
}

.cart-item {
    background: white;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 15px;
    display: flex;
    gap: 20px;
}

.cart-item-img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.cart-details {
    flex-grow: 1;
}

.cart-title {
    font-size: 15px;
    font-weight: bold;
}

.price-section {
    margin-top: 10px;
}

.new-price {
    font-size: 20px;
    font-weight: bold;
    color: #388e3c;
}

.qty-controls {
    margin-top: 15px;
}

.qty-controls button {
    padding: 4px 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    background: white;
}

.qty-controls span {
    padding: 0 12px;
    font-size: 18px;
}

/* Right */
.cart-right {
    width: 25%;
    background: white;
    padding: 20px;
    border-radius: 6px;
    height: fit-content;
}

.cart-right h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.total-amount {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
}


.place-order-btn {
    margin-top: 20px;
    width: 100%;
    background: #9f12a4;
    border: none;
    padding: 12px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.place-order-btn:hover {
    background: #c399d7;
    color: black;
}
