*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg, #f87e0c, #eba716);
    display: flex;
    gap: 260px;  
    padding: 0 20px;

}
h1{
    color: white;
    margin-top: 20px;
}

.product-details{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    /* background-color: #c57e7e; */
}

.product-page{
    width: 80%;
  
    margin: auto;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}
.gallery{
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: thistle; */
}
.gallery img{
    width: 100%;
    height: 40%;
    border-radius: 10px;
    /* background-color: rgb(219, 217, 217); */
}
.gallery img:hover{
    transform: scale(1.02);
    transition: 0.2s;
    cursor: pointer;
}
.actions button{
    width: 245px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background:linear-gradient(90deg, #e96214,#c07f06);;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}